# Database Configuration
DB_PASSWORD=your_database_password

# Brevo SMTP Configuration
BREVO_SMTP_USERNAME=your_brevo_smtp_login
BREVO_SMTP_PASSWORD=your_brevo_smtp_password

# Email Configuration
MAIL_FROM_EMAIL=your_email@example.com

# OpenCage Geocoding API
OPENCAGE_API_KEY=your_opencage_api_key
